body {
    background-color:bisque
}

button {
    color:rgb(60, 106, 147);
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    cursor: pointer;
    transition: border-color 0.25s;
  }

div {
    background-color:rgb(8, 59, 47);
    /* margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px; */
    min-height: 100vh; 
  }

#div1 {
    background-color: cornflowerblue;
}

#div2 {
    background-color: aquamarine;
}

#div3 {
    color:aquamarine
}

h1 {
    color: blue;
    font-size: 24px;
}

h2 {
    color: rgb(0, 255, 179);
    font-size: 24px;
}